html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #4d4d4d;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: 550;
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

header {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 5;
    margin: 0;
    padding: 0;
}

header .logo {
    height: 2rem;
    width: auto;
    margin-left: 1.5rem;
    justify-content: flex-start;
    align-self: center;
}

header span {
    font-size: 1.5rem;
    align-self: center;
    color: #696969;
}

header span .colmar {
    color: #404040;
    font-weight: 550;
}

nav {
    justify-content: flex-end;
    width: 100%;
    align-self: center;
}

ul.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    margin-right: 1.5rem;
}

ul.nav-list li a {
    text-decoration: none;
    color: #4d4d4d;
    list-style: none;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    transition-property: color;
    transition-duration: 600ms;
    transition-timing-function: ease-in;
}

ul.nav-list li a:hover {
    color: red;
}

main {
    position: relative;
    top: 4rem;
}

.banner-flex-container {
    background-color:  #ffd11a;
    display: inline-flex;
    max-width: 100%;
}

.banner-flex-container img {
    margin: 2rem 1.5rem;
    max-width: 60%;
    height: auto;
    box-shadow: 0px 5px 15px hsla(210, 6%, 42%, 0.73);
}

.banner-flex-container .text {
    max-width: 30%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    margin: 1.5rem;
    text-align: left;
}

.banner-button {
    background-color: #4d4d4d;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 15px
}

.banner-button a {
    text-decoration: none;
}

.banner-button p {
    text-decoration: none;
    color: white;
}

.main-flex-container {
    display: inline-flex;
    background-color: white;
    max-width: 100%;
}

.left-side {
    max-width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.left.side .text {
    text-align: left;
}
.left-side h3 {
    margin-bottom: 1.5rem;
}

.left-side p {
    margin-bottom: 2rem;
}

.left-side .citation {
    margin-bottom: 2rem;
}

.right-side {
    display: inline-flex;
    max-width: 40%;
    height: auto;
    flex-direction: column;
}

.right-side-item {
    display: inline-flex;
    align-items: center;
    height: auto;
    margin-right: 1.5rem;
}

.right-side-image {
    max-width: 35%;
    height: auto;
    margin: 1rem 1rem;
}

.right-side-image img {
    max-width: 100%;
}

.right-side-text {
    max-width: 65%;
    width: auto;
    margin: auto 0;
}

.right-side-text h2
.right-side-text p {
    padding: 0px 0px 8px 0px;
}

.right-side-text a {
    text-decoration: none;
    color: #6666ff;
    font-weight: 500;
}

.right-side-item.orientation {
    margin-top: 1rem;
}

.right-side-item.lecture {
    background-color: #d9d9d9;
}

.learning-flex-container {
    display: inline-flex;  
    max-width: 100%;
    background-color: #ffd11a;
    flex-direction: column;
}

.learning-flex-container h2 {
    margin: 2rem 0;
    text-align: center;
}

.course-block-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem 2rem;
    max-width: 100%;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    margin-bottom: 4.5rem;
    background-color: #ffd11a;
}

.course-block {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    max-height: auto;
    text-align: left;
    box-shadow: 5px 5px 15px hsla(210, 6%, 42%, 0.73);
}

.course-block-image img {
    max-width: 100%;
    height: auto;
}

.course-block-text {
    text-align: justify;
    margin: 0rem 1rem;
}

.thesis {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
}

.thesis h2 {
    margin: 2rem 0;
    text-align: center;
}

.thesis-container {
    display: inline-flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0;
    padding: 0; 
}

.thesis-left-side {
    display: inline-flex;
    flex-direction: column;
    max-width: 60%;
    height: auto;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.thesis-left-side video {
    max-width: 100%;
    height: auto;
}

.thesis-left-side-text {
    text-align: justify;
}

.thesis-left-side h3 {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

.thesis-left-side p {
    margin-bottom: 2rem;
}

.thesis-right-side {
    display: inline-flex;
    flex-direction: column;
    max-width: 40%;
    height: auto;
    margin-right: 1.5rem;
}

.thesis-right-side-item {
    max-width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.thesis-right-side-image {
    max-width: 35%;
    height: auto;
    margin: 1rem 1rem;
}

.thesis-right-side-image img {
    max-width: 100%;
}

.thesis-right-side-text {
    max-width: 65%;
    height: auto;
    text-align: left;
}

.thesis-right-side-text h3
.thesis-right-side-text p {
    padding: 0px 0px 8px 0px;
}

.thesis-right-side-item.fisma {
    background-color: #d9d9d9;
}

footer {
    display: inline-flex;
    width: 100%;
    position: relative;
    top: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid #C5CAD7;
}

footer p {
    margin-left: 1.5rem;
}

footer a {
    text-decoration: none;
    color: #4d4d4d;
}

footer li {
    display: inline-flex;
    margin-right: 1rem;
}