html, body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #4d4d4d;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: 500;
}

header {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 5;
    margin: 0;
    padding: 0;
}

header .logo {
    height: 2rem;
    width: auto;
    margin-left: 1.5rem;
    justify-content: flex-start;
    align-self: center;
}

header span {
    font-size: 1.5rem;
    align-self: center;
    color: #696969;
}

header span .colmar {
    color: #404040;
    font-weight: 550;
}

nav {
    justify-content: flex-end;
    width: 100%;
    align-self: center;
}

ul.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    margin-right: 1.5rem;
}

ul.nav-list li a {
    text-decoration: none;
    color: #4d4d4d;
    list-style: none;
    text-align: center;
    padding: 0.5rem;
}

main {
    position: relative;
    top: 4rem;
    margin: 0;
    padding: 0;
}

.banner-flex-container {
    background-color: #d9d9d9;
    display: inline-flex;
    max-width: 100%;
}

.banner-flex-container img {
    margin: 2rem 1.5rem;
    max-width: 60%;
    height: auto;
}

.banner-flex-container .text {
    max-width: 30%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    margin: 1.5rem;
    text-align: left;
}

.text .banner-button {
    background-color: #4d4d4d;
}

.text .banner-button p {
    text-decoration: none;
    color: white;
    justify-items: stretch;
}

.main-flex-container {
    display: inline-flex;
    background-color: #f2f2f2;
    max-width: 100%;
}

.left-side {
    margin: 2rem 1.5rem;
    max-width: 60%;
    height: auto;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.left.side .text {
    text-align: left;
}
.left-side h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.left-side p {
    margin-bottom: 2rem;
}

.left-side .citation {
    margin-bottom: 2rem;
}

.right-side {
    max-width: 40%;
    height: auto;
}